---
import Layout from '../../layouts/Layout.astro'
//import Container from '../../components/Container.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';
//import Paginator from '../../components/Paginator.astro'
  
  
export async function getStaticPaths({paginate}: any) {
  const posts = await Astro.glob('./*.md').then(posts =>
	posts
		.map(({ frontmatter, url }) => ({
      url: url,
      ...frontmatter,
		}))
		// .sort((a, b) => {
		// 	new Date(b.publishDate) - new Date(a.publishDate)
		// })
	);
  return paginate(posts, {pageSize: 10});
}
//// Component Script:
//// You can write any JavaScript/TypeScript that you'd like here.
//// It will run during the build, but never in the browser.
//// All variables are available to use in the HTML template below.
//const seo = {
  //title: 'Example Blog',
  //description: 'This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.'
//}
const { page } = Astro.props;

const [featured, ...posts] = page.data;
---


<Layout title="Hello">
  <div class="w-full bg-slate-700 p-12">
    <div class="relative container mx-auto px-12 py-12">
      <div class="mb-10">
        <h1 class="text-white text-6xl">Stellarsonic</h1>
        <h2 class="text-xl" style="color: #d77f7a;">A record blog</h2>
      </div>
    </div>
  </div>
  <div class="w-full py-12" style="background: #d77f7a;">
    <ul class="flex justify-center text-white text-l">
      <li class="px-4">Funk</li> 
      <li class="px-4">Soul</li> 
      <li class="px-4">Hip-Hop</li> 
    </ul>
  </div>

  <div class="container mx-auto py-12">
    <section class="grid md:grid-cols-1 lg:grid-cols-1 gap-6">
      {page.data.map((post: any) =>
        <BlogPostPreview post={post} />
      )}
    </section>
  </div>
</Layout>
