---
import Layout from '../../layouts/Layout.astro'
import BlogPostPreview from '../../components/BlogPostPreview.astro';
import { uniqueGenres } from '../../lib/utils';
import * as site from '../../settings.yaml';
import SiteHero from '../../components/SiteHero.astro';
 

export async function getStaticPaths({ paginate }: any) {
  const sourcePosts = await Astro.glob('./**/*.md');
  const posts = sourcePosts
    .filter(p => p.url != null && p.url != '')
    .sort((a, b) => {
      return b.frontmatter.date.localeCompare(a.frontmatter.date);
    });

  return paginate(posts, { pageSize: site.blog.pageSize });
}

const { page } = Astro.props;
const genres = await Astro.glob('./*.md').then(posts => {
  return uniqueGenres(posts.map(({ frontmatter }) => frontmatter) as any);
});
const isCurrentPage = (i: number) => {
  return (i + 1) === page.currentPage
}
---


<Layout title="Hello">
  <SiteHero />
  <div class="w-full py-12 bg-light-accent dark:bg-dark-accent">
    <ul class="flex justify-center text-white text-l">
      {genres.map(genre => <li class="px-4">{genre}</li> )}
    </ul>
  </div>

  <div class="container mx-auto">
    <section class="pb-20 pt-12">
      <ul class="flex justify-center">
        {[...Array(page.lastPage).keys()].map(k =>
          <li class={`text-md m-2 text-center ${isCurrentPage(k) ? 'bg-light-accent text-white' : ''}`} style="border: 1px solid #00000030">
            <a class="block py-4 w-12" href={`/blog/${k === 0 ? "" : k + 1}`}>{k + 1}</a>
          </li>
        )} 
      </ul>
    </section>

    <section class="grid md:grid-cols-1 lg:grid-cols-1 gap-6">
      {page.data.map(({frontmatter, url}: any) =>
        <BlogPostPreview post={{...frontmatter, url}} />
      )}
    </section>
  </div>
</Layout>
