---
import Layout from '../../layouts/Layout.astro'
//import Container from '../../components/Container.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';
//import Paginator from '../../components/Paginator.astro'
  
  
export async function getStaticPaths({paginate}: any) {
  const posts = await Astro.glob('./*.md').then(posts =>
	posts
		.map(({ frontmatter, url }) => ({
      url: url,
      ...frontmatter,
		}))
		// .sort((a, b) => {
		// 	new Date(b.publishDate) - new Date(a.publishDate)
		// })
	);
  return paginate(posts, {pageSize: 10});
}
//// Component Script:
//// You can write any JavaScript/TypeScript that you'd like here.
//// It will run during the build, but never in the browser.
//// All variables are available to use in the HTML template below.
//const seo = {
  //title: 'Example Blog',
  //description: 'This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.'
//}
const { page } = Astro.props;
---


<Layout title="Hello">
  <article>
    <section>
    	{page.data.map((post: any) => <BlogPostPreview post={post} />)}
    </section>
  </article>
</Layout>
