---
import Layout from '../../layouts/Layout.astro'
import BlogPostPreview from '../../components/BlogPostPreview.astro';
import { uniqueGenres } from '../../lib/utils';
import * as site from '../../settings.yaml';
import SiteHero from '../../components/SiteHero.astro';
import Paginator from '../../components/Paginator.astro';
 

export async function getStaticPaths({ paginate }: any) {
  const sourcePosts = await Astro.glob('./**/*.md');
  const posts = sourcePosts
    .filter(p => p.url != null && p.url != '')
    .sort((a, b) => {
      return b.frontmatter.date.localeCompare(a.frontmatter.date);
    });

  return paginate(posts, { pageSize: site.blog.pageSize });
}

const { page } = Astro.props;
const genres = await Astro.glob('./*.md').then(posts => {
  return uniqueGenres(posts.map(({ frontmatter }) => frontmatter) as any);
});
---


<Layout title="Hello">
  <SiteHero />
  <div class="w-full py-12 bg-light-accent dark:bg-dark-accent">
    <ul class="flex justify-center text-white text-l">
      {genres.map(genre => <li class="px-4">{genre}</li> )}
    </ul>
  </div>

  <div class="container mx-auto">
    <section class="pb-20 pt-12">
      {page.lastPage !== 1 && <Paginator page={page} />}
    </section>

    <section class="grid md:grid-cols-1 lg:grid-cols-1 gap-6">
      {page.data.map(({frontmatter, url}: any) =>
        <BlogPostPreview post={{...frontmatter, url}} />
      )}
    </section>
  </div>
</Layout>
