---
import Page from '@layouts/Page.astro'
import BlogEditor from './BlogEditor.svelte';
import { Blog } from './Blog';

interface Props extends Blog {}

const config = Astro.props;

const isDev = import.meta.env.MODE === 'development';
---

<Page>
  <Fragment slot="head-bottom">
    <title>{config.title}</title>
  </Fragment>

  {isDev ?
    <BlogEditor {...config} client:only>
      <slot/>
    </BlogEditor>
  :
    <slot/>
  }
</Page>
