---
import * as site from '../settings.yaml';
---

<div class="flex space-between text-black px-8 py-12">
  <div class="flex">
    <a href="/" class="mr-4 site-title text-4xl">{site.title}</a>
  </div>
  <div class="grow"></div>
  <div class="flex text-md justify-right font-primary">
    <a href="/mixes" class="mr-4 hover:border-b border-black">Mixtapes</a>
    <a href="/about" class="mr-4 hover:border-b border-black">About</a>
  </div>
</div>
