---
import * as site from '../settings.yaml';
---

<div class="flex space-between text-white px-8 py-12">
  <div class="flex">
    <a href="/" class="mr-4 site-title text-xl">{site.title}</a>
  </div>
  <div class="grow"></div>
  <div class="flex text-md justify-right">
    <a href="/mixes" class="mr-4">Mixtapes</a>
    <div class="mr-4">About</div>
  </div>
</div>
