---
import * as site from '../settings.yaml';
import MenuBar from './MenuBar.astro';
---

<div class="w-full bg-light-accent-variant dark:bg-dark-accent-variant">
  <div class="relative container mx-auto">
    <MenuBar />
  </div>
</div>
