---
import Editor from "@components/Editor.svelte";
import Main from '@components/Main.svelte';

const { isDev, template, page } = Astro.props;
---

{isDev ?
  <body>
    <Editor client:only>
      <Fragment slot="sidebar">
        <slot name="editor" />
      </Fragment>
      <Main slot="preview" template={template} page={page} client:load>
        <slot/>
      </Main>
    </Editor>
  </body>
:
  <body>
    <Main template={template} page={page}>
      <slot/>
    </Main>
  </body>
}
