---
import Layout from './Layout.astro';
//import AudioPlayer from '../components/AudioPlayer.svelte';
import Track from '../components/Track.svelte';
//import Container from "../components/Container.astro";
///import ArticleSchema from '../components/ArticleSchema.astro';
const { frontmatter: playlist } = Astro.props;
const { headline, datePublished, track, image } = playlist
---

<Layout title="Test">
  <article class="bg-slate-100">
    <div class="container mx-auto px-4 pt-12">
      <div class="grid grid-cols-12 pb-12">
        <div class="md:col-span-5 col-span-12 bg-white rounded-lg overflow-hidden z-10" style="box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.32);">
          <div class="relative" style="padding-bottom: 100%">
            <img class="absolute w-full h-full object-cover" src={image} alt=""/>
          </div>
          <ul class="divide-y divide-slate-400/25">
            {track.map((track: any, index: number) =>
              <Track client:load playlist={playlist} track={index} />
            )}
          </ul>
        </div>
        <div class="md:col-span-7 sm:col-span-12 xs:col-span-12 p-12">
          <h1 class="text-3xl font-bold pb-12">{headline}</h1>
          <section><slot/></section>
        </div>
      </div>
    </div>
  </article>
</Layout>
