---
//import EditorLoader from "@components/EditorLoader.svelte";
import Editor from "@components/Editor.svelte";

const isDev = import.meta.env.MODE === 'development';
---

<!DOCTYPE html>
<html lang="en" class="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;600&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
    <slot name="head-bottom" />
	</head>
	<body class="bg-slate-100 dark:bg-dark-base">
    {isDev ?
      <Editor client:only>
        <Fragment slot="sidebar">
          <slot name="editor" />
        </Fragment>
        <Fragment slot="preview">
          <slot/>
        </Fragment>
      </Editor>
    :
      <slot/>
    }
	</body>
</html>
<style is:global>
  .font-editor {
    font-family: 'Roboto', serif;
    font-weight: 200;
  }
  .site-title {
    font-family: 'Dancing Script', cursive;
  }
  .font-title {
    font-family: 'Cinzel', serif;
  }
  .font-primary {
    font-family: 'Roboto', serif;
  }
  .article p {
    padding: 20px 0;
    font-family: 'Roboto', serif;
  }
  .article h1 {
    font-family: 'Cinzel', serif;
  }
  .article p:first-child {
    padding-top: 0;
  }
  .article img {
    padding: 30px 0;
  } 
</style>
